@charset "UTF-8"

*{
    font-family: arial;
}

main{
    background-color: #ffffff9f;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.459);
    height: 580px;
}

.campo{
    margin-block: 1em;
    padding-left:1em;
    margin-top: 1em;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

body{
    background-image: linear-gradient(to right, #a01a58,#892b64,#723c70,#5c4d7d,#455e89,#2e6f95,#1780a1);
}

.botao{
    font-size: 1em;
    background: #000000;
    border-radius: 5rem;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    margin-top: 10px;
}
.botao:hover{
    background: #000000a2;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

